body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

ul {
    list-style: lower-latin;
    font-size: 1rem;
    padding: 5px;
    margin: 10px;
}

li {
    margin: 5px 0;
    padding: 5px;
    border: 2px solid #0000ff;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #ffffff;
}